 <!--Mobile View -->
 <div class="row display-attadance-log-mob-view"
 >
<div class="col-xs-12 col-md-12 col-sm-12">
    <div class="container" 
         data-ng-style="{
         'margin-bottom':-14
         }" 
         ng-repeat="row in vm.leaveAll">
        <div class="mob_container_attr_log">
            <div class="row mob_wrap_container_attr_log"
                 data-ng-style="{
                           @*'border-left':'5px solid  '+row.statusColor,*@
                           'border-left':'5px solid  #8E44AD',
                           'border-radius': '7px 1px 1px 7px',
                           'height':'auto',
                           'min-height':96
                          }">
                <div class="mob_cart_list_attandance_log">
                    <span class="del" 
                          data-ng-if="row.statusCode && row.statusCode!=='Status_Pending'"
                          data-ng-style="{
                          background:row.statusColor,
                          'text-transform':'lowercase'
                          }">{{row.statusTitle}}</span>
                    <div class="del" 
                         data-ng-if="row.statusCode && row.statusCode=='Status_Pending'"
                         data-ng-style="{
                                background:row.statusColor,
                                'width': row.pendingCount?61:48,
                                'text-transform':'lowercase'
                          }">
                        <span>{{row.statusTitle}}</span>
                        <span ng-if="row.pendingCount"
                              data-ng-style="{
                                'background': 'white',
                                'border': '1px solid #ccc',
                                'border-radius': 6,
                                'color': 'black',
                                'padding-left': 4,
                                'padding-right': 4,
                                'color': 'black',
                                'font-weight': 600,
                                'margin-left': row.pendingCount?2:0
                              }">{{row.pendingCount}}</span>
                       

                    </div>
                     <!--Action Button-->
                    <div data-ng-style="{
                              'position': 'absolute',
                              'right': 10,
                              'top': -5,
                              'z-index':1
                         }">
                        <div class="mt-action-buttons align-right pl-0 pr-0 mt-30" >
                            <div class="pull-right" ng-init="row.isActive = true;">
                                <action-context-button id-model="row.id"
                                                       menu-list="row.menuList"
                                                       row="row"
                                                       translate-key="'@Ls(AttConsts.LocalizationSourceName, "Leave")'"></action-context-button>
                            </div>
                        </div>
                    </div>

                     <!--Action Button-->

                    <div class="col-sm-1 col-xs-2 mob_attandance_log_img text-center">

                        <img ng-src="{{vm.getProfileImage(row.employeeProfilePictureId)}}"
                             class="img-circle img-loading" width="40" height="40"
                             alt="@L("Error")" />
                    </div>
                    <div class="col-sm-9 col-xs-10 mob_container_list_view_attr_log">
                        <span class="mob-attr-log-title"
                              data-ng-style="{
                               'float':'left'
                              }"
                              data-ng-bind="row.employeeName"></span>
                        
                        <div class="col-xs-12 col-sm-12" 
                             data-ng-style="{
                             'padding-top': 3,
                             'padding-left':0
                             }">
                            <i class="icon-calendar" 
                               data-ng-style="{
                                 'margin-right': 3,
                                 'float':'left'
                               }"></i>
                            <div class="container-list-span-attr-log___">
                                <!--FromDate-->
                                <span class="sub_title_mob_att_log"
                                      data-ng-style="{
                                      'padding-right':2
                                      }">{{row.listDateDetail.join("")}}</span> 
                              
                            </div>
                        </div>
                        <rbr />
                        <div class="col-sm-12 col-xs-10"
                             data-ng-style="{
                              'padding':0,
                              'margin-top':-5,
                              'max-height': 31,
                              'overflow': 'hidden',
                             }">
                            <i class="icon-carl-m-time-attendance" 
                               data-ng-style="{
                                'float':'left',
                                'margin-right': 3,
                                'margin-top': 3,
                                'font-size': 10,
                               }"></i>
                            <div class="container-list-span-attr-log___"
                                 data-ng-style="{ 
                                 'margin-left':9,
                                 'margin-top':-1
                                 }">
                                <span class="status-extra-leave"
                                      data-ng-style="{
                                         'background-color': 'unset',
                                         'color':'rgb(81, 81, 81)',
                                         'padding-right':2,
                                         'border-radius':'unset',
                                         'margin-left': 1,
                                         'font-size':9
                                      }">{{row.periodDetail}}</span> 
                                <span class="sub_title_mob_att_log_span status-extra-leave"
                                      data-ng-style="{'border-radius':'unset'}"
                                      data-ng-if="row.deductionValueInDay">@Ls(AttConsts.LocalizationSourceName, "Extra"){{": "}}{{row.deductionValueInDay}}</span>
                            </div>
                       </div>
                        <rbr />
                        <div class="col-sm-12 col-xs-10"
                             data-ng-style="{
                              'padding':0,
                              'margin-top':-5,
                              'max-height': 26,
                                 'min-height': 20,
                              'overflow': 'hidden',
                             }">
                            <i class="icon-carl-m-complaint" 
                               data-ng-style="{
                               'float':'left',    
                               'margin-right': 3, 
                               'margin-top': 2,
                               'font-size': 10
                               }"></i>
                            <div class="container-list-span-attr-log___"
                                 data-ng-style="{
                                 'margin-top': 3
                                 }">
                                <div class="sub_title_mob_att_log" 
                                     data-ng-style="{
                                     'margin-top':1,
                                     'word-break': 'break-all',
                                     'overflow':'hidden',
                                     'font-size':9,
                                     'line-height':1.3,
                                     'letter-spacing':.2,
                                     }">{{row.reason}}</div>
                            </div>
                        </div>


                    </div>
                   </div>
                <!--Remarks-->
                <div data-ng-style="{
                          'position': 'relative',
                          'top':-4
                     }">
                    <data-owl-carousel class="owl-carousel owl-carousel-attr-log owl-theme"
                                       data-options="{
                                    margin:5,
                                    loop:false,
                                    autoWidth:true,
                                    pagination: false,
                                    items:{{row.remarkList.length+1}}
                                    }">
                        <div owl-carousel-item="" ng-repeat="r in row.remarkList track by $index" class="mob_cart_list_attandance_log_remark">
                            <div class="item sub_title_mob_att_log_span" style="width:auto;">
                                <span style="color:black;font-size: 10px;">{{r}}</span>
                            </div>
                        </div>
                    </data-owl-carousel>
                    </div>
                <!--Remarks-->
            </div>
        </div>
    </div>
</div>
<!--Loading More-->
<div class="col-xs-12 col-md-12 col-sm-12 text-center" style="margin-top:9px;">
    <button class="btn btn-sm mob_cart_list_attandance_log" ng-style="{padding:'11px'}"
            data-ng-if="!vm.loading && vm.start < (vm.tableState.pagination.numberOfPages - 1) * vm.number"
            ng-click="vm.loadMore()">
        <span>@L("LoadMore")</span>
    </button>
    <button ng-if="vm.loading" class="btn btn-sm mob_cart_list_attandance_log" ng-style="{padding:'11px'}">
        <i class='fa fa-spinner fa-spin'></i>
        <span>@L("Loading")</span>
    </button>
    <button ng-if="!vm.loading && (!vm.leaveAll || vm.leaveAll.length==0)" class="btn btn-sm mob_cart_list_attandance_log">
        <span>@L("NoRecordsFound")</span>
    </button>
</div>
<!--Loading More-->
</div>
<!--Mobile View -->